.cart-list {
  border: solid 1px #bbb;
}

.x-grid-row-summary .x-grid-cell {
  border-top: solid 1px black !important;
  background-color : #eeeeee;
}

.cart-list-over {
  background-color: none;
}

.x-grid-empty {
  padding-left: 37% !important;
  padding-top: 100px !important;
  font-size: 21px;
}