.cart-pay-wrap {
  margin: 0 auto;
  width: 40%;
}

.cart-pay-value {
  text-align: right;
}

.cart-pay-title, .cart-pay-value-sub{
  color: #555;
  font-size: 14px;
}

.cart-order-wrap {
  border: solid 1px #bbb;
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 10px;
}

.cart-order-wrap h3 {
  color: #555;
}

.payment-table {
  display: table;
  width: 100%;
  font-family: Roboto, "Open Sans", "Helvetica Neue", helvetica, arial, verdana, sans-serif;
  font-size: 16px;
}

.payment-line {
  display: table-row;
  line-height: 24px;
}

.payment-field, .payment-amount, .payment-desc {
  display: table-cell;
  width: 28%;
  max-width: 162px;
  border: 1px solid #bbb;
  padding-left: 4px;
}

.payment-amount {
  text-align: right;
  padding-right: 8px;
  font-size: 16px !important;
}

.payment-desc {
  display : table-cell;
  width: 44%;
}

.payment-line-item {
  font-size : 14px !important;
}

.payment-line-total,.payment-line-item {
  font-weight:300;
}

.payment-desc {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 4px;
}