.img-cell{
    padding: 0;
}

.address-container{
    justify-content: flex-end;
    .x-inner.x-container-inner{
        width: 65%;
    }
}

.address-container2{
    justify-content: flex-end;
    .x-inner.x-container-inner{
        width: 65%;
    }
}