.w-video-invite{
    .close-icon{
        color:$white-1-color;
        font-size:22px;
        line-height:24px;
    }
    .x-toolbar-text{
        text-align:center;
        font-size:15px;
        a{
            padding-left:8px;
            color:$white-1-color;
            text-transform:uppercase;
        }
    }
}