*.apdisk
*.DS_Store
*.TemporaryItems
*.idea
.DS_Store
.classpath
.project
.settings
.build.log
.build_cmd.log
server.log
build/development/**
build/production/**
build/testing/**
build/.sass-cache/**
build/temp/**
apps/**/bootstrap.json
apps/**/classic.json
apps/**/modern.json
