$primary-color:#03A9F4;
$primary-dark-color:#0288D1;
$primary-lite-color:#81D4FA;

$primary2-color:#607D8B;
$primary2-dark-color:#455A64;
$primary2-lite-color:#CFD8DC;

$secondary-color:#F48FB1;
$secondary-dark-color:#F06292;
$secondary-lite-color:#F8BBD0;

$bg-color:#f2f2f2;
$bg-color-7:rgba(242,242,242, 0.78);

$black-1-color:rgba(0, 0, 0, 0.87);
$black-2-color: rgba(0, 0, 0, 0.54); // secondary text and icons
$black-3-color: rgba(0, 0, 0, 0.26); // disabled and hint text
$black-4-color: rgba(0, 0, 0, 0.12); // dividers

$white-1-color:rgba(255, 255, 255, 1);
$white-2-color: rgba(255, 255, 255, 0.7);
$white-3-color: rgba(255, 255, 255, 0.3);
$white-4-color: rgba(255, 255, 255, 0.12);

$blue:#2196F3;
$green:#0f9d58;
$red:#db4437;
$orange:#FF9C1C;
$lite-grey:#e0e0e0;

$valence-blue:#00ADF1;
