$menu-item-active-background-color:$bg-color;
$menu-item-active-text-color:$black-1-color;
$menu-item-font-size:13px;
$menu-item-font-weight:400;
$menu-border-style:none;
$menu-item-height:32px;
$menu-text-color:$black-1-color;
