.cart-fieldset {
  background-color: rgba(245, 245, 245, 0.9);
  .x-autocontainer-form-item, .x-anchor-form-item, .x-vbox-form-item, .x-table-form-item{
    margin-bottom:5px;
  }
}
.cart-fieldset.x-fieldset-default{
  margin: 0px;
}

.x-form-trigger-wrap-invalid {
  border-width : 1px !important;
}

.cart-refresh-reps{
  width: 19px!important;
  display: table-cell;
  vertical-align: top;
  cursor: pointer;
  overflow: hidden;
  background-repeat: no-repeat;
  line-height: 24px!important;
  font-size: 15px!important;
  white-space: nowrap;
  padding-left: 2px!important;
}
.delopts-panel{
  .x-table-form-item{
    margin-bottom:0px!important;
    padding: 0px 5px 0px 5px!important;
  }
}
.cart-del-lbl-disabled{
  opacity: 0.6;
}
.sales-rep.x-form-item-default.x-item-disabled{
  opacity: 0.7;
}

.x-form-text-default {
  color: rgba(0, 0, 0, 0.9); 
}

.x-form-item-label-default {
  color: rgba(0, 0, 0, 0.8);
}

.x-fieldset-header-default > .x-fieldset-header-text {
  color: rgba(0,0,0, 0.8);
}

.note-type > .x-form-text-field-body-default {
  min-width: 120px !important;
}

.note-created > .x-form-text-field-body-default {
  min-width: 120px !important;
}

.note-updated > .x-form-text-field-body-default {
  min-width: 120px !important;
}
