.cart {
  //border-top:2px solid #dcdcdc;
  //background-color:#fafafa !important;
  overflow-x: hidden !important;
  border-radius: 0px !important;
}

//.cart > .x-toolbar {
//  border-top: solid 1px #ccc !important;
//  border-bottom: solid 1px #ccc !important;
//}

.btn-shopping {
  background-color: #6f6f6f;
  background-image: none;
}

.btn-checkout {
  @extend .depth-1;
  background-color: #2196F3;
  background-image: none;
}

.btn-checkout-over {
  background-color: #53a8f3;
}

.btn-shopping-over {
  background-color: #777;
}

.btn-checkout .x-btn-inner, .btn-shopping .x-btn-inner {
  color: white;
}

.x-panel-inset {
  border: 1px solid $black-3-color;
  .x-panel-header-inset {
    padding: 8px;
    height: 32px;
    .x-title-text {
      color: $black-1-color;
    }
  }
  .x-panel-body-inset {
    border-top: 1px solid $black-3-color !important;
    background: #fff;
  }
}

.combo-cart-stock {
  .x-form-item-label-text {
    position: relative;
    top: 2px;
  }
}

.cart-pym-info {
  margin-top: 12px;
  padding: 3px;
  text-align: right;
  min-width: 300px;
  .pym-lbl {
    font-weight: 500;
    margin-right: 8px;
    margin-left: 8px;
  }
  .pym-val {
    font-weight: 600;
  }
  .pym-info-cnt {
    width: 28px;
    display: inline-block;
    .pym-info-icon {
      position: absolute;
      right: -1px;
      top: 12px;
      margin-right: 8px;
      margin-top: 3px;
      font-size: 16px !important;
      text-align: center;
      line-height: 16px !important;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.54);
    }
  }
}

.cart-ord-info {
  margin-top: 12px;
  padding: 3px;
  .ord-info-cnt {
    display: inline-block;
    .ord-info-icon {
      position: absolute;
      top: 12px;
      margin-right: 8px;
      margin-top: 3px;
      font-size: 16px !important;
      text-align: center;
      line-height: 16px !important;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.54);
    }
    .ord-info-lbl {
      margin-left: 24px;
      font-weight: 500;
    }
  }
}

/*google address lookup */
.pac-container {
  z-index: 99999;
}