.x-view-item-focused{
  outline:none!important;
}

/* ----------- empty text classes ------------- */
//.x-grid-empty,.x-dataview,.dataview,.x-component {
//  .vv-empty-text-wrap{
//    text-align:center;
//    padding-top:35px;
//    display:inline-block;
//    text-align:left;
//    .vv-empty-text{
//      font-size:18px;
//      color:#222;
//    }
//    .vv-empty-subtext{
//      font-size:13px;
//      color:#222;
//      font-weight:300;
//      padding-top:20px;
//    }
//  }
//}

.dataview {
  text-align:left !important;
  .vv-empty-text-wrap {
    padding-top: 70px !important;
    margin-left: 100px;
  }
}

// combo dataview
.x-boundlist {
  .vv-empty-text-wrap {
    height : 40px !important;
    background-image: none;
    div {
      span {
        display:none;
      }
    }
    .vv-empty-text {
      padding : 12px 8px 8px 8px;
      font-size : 16px!important;
    }
  }
}