.x-view-item-focused{
  outline:none!important;
}
.x-keyboard-mode .x-view-item-focused{
  outline:none!important;
}

.dataview {
  text-align:left !important;
  .vv-empty-text-wrap {
    padding-top: 70px !important;
    margin-left: 100px;
  }
}

// combo dataview
.x-boundlist {
  .vv-empty-text-wrap {
    height : 40px !important;
    background-image: none;
    div {
      span {
        display:none;
      }
    }
    .vv-empty-text {
      padding : 12px 8px 8px 8px;
      font-size : 16px!important;
    }
  }
}