$header-color: white;

$window-base-color: #fff;
$window-header-color: $header-color;
$window-header-background-color: #555;
$window-header-font-family: Helvetica, Arial, Geneva, sans-serif;
$window-header-font-size: 20px;
$window-header-line-height: 30px;
$tool-glyph-color: $header-color;

$button-default-base-color : #2196F3;

$form-field-height : 25px;

$grid-header-padding:dynamic(8px 6px);