$window-background-color:#FFF;
$window-body-background-color:$bg-color;
$window-border-width:0;
$window-header-background-color:#FFF;
$window-header-border-width:0;
$window-header-padding:15px;
$window-padding:0;
$window-ignore-frame-padding:true;
