.w-navdrawer{
  background-color:#fff;
  color:$black-1-color;
  transform:translateX(-400px);
  -webkit-transition: transform .15s cubic-bezier(0.4,0.0,1,1),opacity .15s cubic-bezier(0.4,0.0,1,1),visibility 0ms linear .15s;
  transition: transform .15s cubic-bezier(0.4,0.0,1,1),opacity .15s cubic-bezier(0.4,0.0,1,1),visibility 0ms linear .15s;

  .navdrawer-header{
    padding:20px 24px;
    .x-btn-icon-el{
      font-size:24px;
      line-height:24px;
    }
    .navdrawer-title{
      left:56px!important;
      font-size:20px;
      font-weight:500;
    }
  }

  .x-tree-view{
    .x-grid-tree-node-expanded .x-tree-elbow-plus, .x-grid-tree-node-expanded .x-tree-elbow-end-plus,.x-tree-elbow-plus, .x-tree-elbow-end-plus,.x-tree-icon-parent,.x-tree-icon-parent-expanded{
      display:none;
    }
  }
  .x-treelist{
    .x-treelist-item-text{
      cursor:pointer;
    }
    .x-treelist-item-expandable{
      font-weight:600;
      .x-treelist-item-expander{
        display:none;
      }
      .x-treelist-item-leaf{
        .x-treelist-item-text{
          font-weight:400;
        }
      }
    }
    .x-treelist-container{
      .x-treelist-item-text{
        padding-left:11px;
      }
      .x-treelist-item-icon{
        padding-left:3px;
      }
    }
    .x-treelist-item-selected.x-treelist-item-leaf{
      .x-treelist-item-text{
        font-weight:600;
        color:$secondary-color;
      }
    }
  }
}
.w-navdrawer-icon{
  position:absolute;
  left:45px;
  font-size:19px!important;
  line-height:19px!important;
}
.w-navdrawer.is-active{
  @extend .depth-3;
  transform:translateX(0);
}

.x-toolbar-appbar .appbar-title .x-btn-inner-default-toolbar-large {
  color: $black-1-color;
}