.vv-chg-pwd-form-phone {
  .x-form-inner {
    background-color: #fff;
    .vv-chgpwd-cur, .vv-chgpwd-new, .vv-chgpwd-new2 {
      .vv-chgpwd-cur-lbl, .vv-chgpwd-new-lbl, .vv-chgpwd-new2-lbl {
        font-weight: 500;
        color: $black-2-color;
        background-color: inherit;
      }
      .x-form-field {
        padding: 0 0.4em;
        margin: 0 auto;
        width: 95%;
        height: 95%;
        border-bottom: 1px solid $black-2-color;
      }
    }
    .vv-field-invalid {
      .x-form-field {
        border-bottom: 1px solid $secondary-dark-color !important;
      }
    }
    .vv-chgpwd-ok-btn{
      background-color: $valence-blue;
    }
    .vv-chgpwd-ok-btn.x-item-disabled {
      background-color: lighten($valence-blue, 10%);
    }
  }
}