$form-field-border-color:$black-3-color;
$form-field-border-width:1px;
$form-field-focus-border-color:$primary-color;
$form-field-color:$black-1-color;
$form-field-empty-color:$black-3-color;
$form-label-font-color:$black-2-color;
$form-label-font-weight:400;

/*
$form-field-font-size:15px;
$form-field-padding:dynamic(8px);
$form-label-font-size:13px;
*/
