.vv-chgenv-appclose-msg{
    text-align:center;
    background-color:$secondary-color;
    color:$white-1-color;
    font-weight:500;
    font-size:14px;
    padding:8px 0;
    text-transform: uppercase;
}