.detail-bbar {
    background-color: #eee;
    border-top-color: #aaa;
    border-top-width: 1px;
    border-top-style: solid;
}

.btn-detail-add-cart {
    background-color:#2196F3;
    color:#fff;
    background-image: none !important;
}

.btn-detail-add-cart:hover {
    background-color:#3CA9FF;
}

.btn-cancel {
    background-image: none !important;
    background: #f6f6f6;
    border-color: $black-4-color !important;
    padding: 8px;
}

.btn-cancel * {
    font-weight: 500;
    color : $black-2-color !important;
}

.btn-detail-add-cart *{
    color: #fff;
    font-weight:500;
}

.prd-detail-win {
    border :  1px solid #666;
    background-color: #fff;
}