.prd-detail-wrap {
  min-height: 420px;
  position: absolute;
  width: 100%;
  font-family: Helvetica, Arial, Geneva, sans-serif;
  color: #333;
  .prd-detail-header {

    //border: 1px solid;
    width:100%;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    //height:54px;
    height: 100px;
    .prd-price-wrpr {
      //display: inline-block;
      // Added
      //border: 1px solid;

      display: block;
      margin-top: 27px;
      top: 1px;
      height: 200px;

      position: absolute;
      right: 8px;
      .prd-price-normal {
        //display: inline-block;
        // Added
        //border: 1px solid;

        display: block;
        padding: 10px;
        //padding-right: 8px;
        //color: $black-3-color;
        color: rgba(0, 0, 0, 0.7);
        text-decoration: line-through;
        font-size: 15px;
        font-weight: 500;
        text-align: right;

        
      }
      .prd-price-spc {
        //display: inline-block;
        //border: 1px solid;

        display: block;
        //color: $smeg-red;
        color: black;
        font-weight: 800;
        font-size: 20px;
        padding-right: 10px;
      }

      .prd-stock{
        display: block;
        //border: 1px solid;
        position: absolute;
        bottom: 1px;
        //right: 8px;
        padding-right: 10px;
        font-size: 15px;
        font-weight: 500;
        right: 0px;
      }
      .prd-price {
        //border: 1px solid;
        display: block;
        padding: 10px;

        //display:inline-block;
        //margin-right: 10px;
        text-align: right;
        font-size: 20px;
        font-weight: 800;
        letter-spacing: 2px;
      }
    }
    .prd-general.prd-expire {
      //border: 1px solid;
      padding: 10px 10px 10px;
      position: relative;
      //right: 8px;
      display: block;
      font-style: italic;
      font-size: 15px;
      font-weight: 500;
      //top: 81px;
      float: right;
    }

    .prd-desc{
      display: inline;
      width: 80%;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 15px;
      margin-bottom: 10px;
      font-size: 15px;
      font-weight: 500;
    }

    // Added
    .prd-model{
      padding: 10px 15px;
      font-size: 15px;
      font-weight: 500;
    }

    // Added
    .prd-ean{
      padding: 0px 15px 10px 15px;
      font-size: 15px;
      font-weight: 500;
    }
    // Added
    .prd-comment{
      padding: 0px 15px;
      font-size: 15px;
      font-weight: 500;
    }
  }

  .prd-stock-info{
    //position: relative;
    //bottom: 10px;
    padding: 5px 15px;
    float: left;
    .stock-info-wrap{
      //padding: 15px;
      h3{
        margin-bottom: 5px;
        margin-top: 1px;
        font-size: 16px;
      }
      table, th {
        border-collapse: collapse;
        border: 1px solid #ddd;
        text-align: center;
        padding: 0px 5px;
      }
      td{
        border-right: 1px solid #ddd;
        padding: 0px 5px;
      }
      tr:hover {background-color:#f5f5f5;}
    }
  }

  .prd-detail-body{
    //line-height: 18px;
    height: auto;
    h3 {
      font-size : 16px;
    }
    .prd-detail-body-left {
      width: 60%;
      height: auto;
      float: left;
      padding-left: 15px;
      h3 {
        margin: 5px 0px;
      }
      ul {
        list-style-type: none;
        line-height: 20px;
        font-size: 14px;
        color: #333;
        padding: 0;
        margin: 5px 0px;
        li {
          font-size: 13px;
          //white-space: nowrap;
          //overflow: hidden;
          //text-overflow: ellipsis;
          //max-width: 130px;
        }
      }
      .prd-detail-gen {
        font-family : Helvetica, Arial, Geneva, sans-serif;
        font-size: 13px;
        padding-top: 20px;
      }
    }

    .prd-img-wrap{
      //border: solid 1px #aaa;
      border-radius: 2px;
      padding-left: 10px;
      img {
        display: block;
        //margin-right:auto;
        //margin-left:auto;
        width: 200px;
        height: 200px;
      }
    }
    .prd-detail-body-right {
      //position: relative;
      //top: 205px;
      width: 40%;
      height: auto;
      //right: 0;
      float: right;
      padding-left: 10px;
      

      .prd-files-wrap{
        width:100%;
        h3{
          margin: 5px 0px;
        }

        * {
          font-size: 16px;
          line-height: 23px;
        }
        .prd-files-list {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
        ul {
          list-style-type: none;
          padding: 0;
          margin: 5px 0px;
          li a {
            font-family: Helvetica, Arial, Geneva, sans-serif;
            font-size: 13px;
            color: #336699;
          }
        }
      }
    }
    

    .prd-lg-img-wrap {
      img {
        display: block;
        margin-right:auto;
        margin-left:auto;
        width: 400px;
        height: 400px;
      }
    }

  }
}
