.category{
  background-color:#fafafa;
  border-right:2px solid #dcdcdc;
  //border-top:2px solid #dcdcdc;
  .cat-title{
    font-weight: 500;
    font-size: 15px;
    padding-left: 5px;
    line-height: 42px;
    color: $black-2-color;
  }
  .cat-wrap{
    padding:15px 10px;
    font-size: 15px;
    color : $black-1-color;
  }
  .cat-wrap-sel{
    background-color: #555;
    font-weight: 500;
    color: $white-1-color;
    font-size: 17px;
  }
  .cat-wrap-over{
    background-color:#dfdfdf;
    color : $black-1-color!important;
    cursor:pointer;
  }
}

