@include extjs-button-small-ui(
$ui: 'transparent',
$border-color: transparent,
$border-color-over: transparent,
$border-color-focus: transparent,
$border-color-pressed: transparent,
$border-color-focus-over: transparent,
$border-color-focus-pressed: transparent,
$border-color-disabled: transparent,
$background-color: transparent,
$background-color-over: transparent,
$background-color-focus: transparent,
$background-color-pressed: transparent,
$background-color-focus-over: transparent,
$background-color-focus-pressed: transparent,
$background-color-disabled: transparent,
$background-gradient-over: 'none',
$color: $color,
$color-over: darken($color, 10),
$color-focus: $color,
$color-pressed: $color,
$color-focus-over: $color,
$color-focus-pressed: $color,
$color-disabled: lighten($color, 10%),
$inner-border-color: transparent,
$inner-border-color-over: transparent,
$inner-border-color-focus: transparent,
$inner-border-color-pressed: transparent,
$inner-border-color-focus-over: transparent,
$inner-border-color-focus-pressed: transparent,
$inner-border-color-disabled: transparent
);
@include extjs-button-small-ui(
    $ui: 'light',
    $border-color: $black-4-color,
    $border-color-over: $black-4-color,
    $border-color-focus: $black-4-color,
    $border-color-pressed: $black-4-color,
    $border-color-focus-over: $black-4-color,
    $border-color-focus-pressed: $black-4-color,
    $border-color-disabled: $black-4-color,
    $background-color: $bg-color,
    $background-color-over: darken($black-4-color,3%),
    $background-color-focus: $black-4-color,
    $background-color-pressed: $black-4-color,
    $background-color-focus-over: $black-4-color,
    $background-color-focus-pressed: $black-4-color,
    $background-color-disabled: $black-4-color,
    $background-gradient-over: 'none',
    $color: $black-1-color,
    $color-over: $black-1-color,
    $color-focus: $black-1-color,
    $color-pressed: $black-1-color,
    $color-focus-over: $black-1-color,
    $color-focus-pressed: $black-1-color,
    $color-disabled: lighten($color, 20%),
    $inner-border-color: transparent,
    $inner-border-color-over: transparent,
    $inner-border-color-focus: transparent,
    $inner-border-color-pressed: transparent,
    $inner-border-color-focus-over: transparent,
    $inner-border-color-focus-pressed: transparent,
    $inner-border-color-disabled: transparent,
    $arrow-glyph-color:$black-2-color
);
@include extjs-button-small-ui(
    $ui: 'white',
    $border-color: $black-4-color,
    $border-color-over: $black-4-color,
    $border-color-focus: $black-4-color,
    $border-color-pressed: $black-4-color,
    $border-color-focus-over: $black-4-color,
    $border-color-focus-pressed: $black-4-color,
    $border-color-disabled: $black-4-color,
    $background-color: #fff,
    $background-color-over: darken(#fff,3%),
    $background-color-focus: #fff,
    $background-color-pressed: #fff,
    $background-color-focus-over: #fff,
    $background-color-focus-pressed: #fff,
    $background-color-disabled: #fff,
    $background-gradient-over: 'none',
    $color: $black-1-color,
    $color-over: $black-1-color,
    $color-focus: $black-1-color,
    $color-pressed: $black-1-color,
    $color-focus-over: $black-1-color,
    $color-focus-pressed: $black-1-color,
    $color-disabled: lighten($color, 20%),
    $inner-border-color: transparent,
    $inner-border-color-over: transparent,
    $inner-border-color-focus: transparent,
    $inner-border-color-pressed: transparent,
    $inner-border-color-focus-over: transparent,
    $inner-border-color-focus-pressed: transparent,
    $inner-border-color-disabled: transparent,
    $arrow-glyph-color:$black-2-color
);


@include extjs-button-small-ui(
$ui: 'transparent-action',
$border-color: transparent,
$border-color-over: transparent,
$border-color-focus: transparent,
$border-color-pressed: transparent,
$border-color-focus-over: transparent,
$border-color-focus-pressed: transparent,
$border-color-disabled: transparent,
$background-color: transparent,
$background-color-over: transparent,
$background-color-focus: transparent,
$background-color-pressed: transparent,
$background-color-focus-over: transparent,
$background-color-focus-pressed: transparent,
$background-color-disabled: transparent,
$background-gradient-over: 'none',
$color: $secondary-dark-color,
$color-over: darken($secondary-dark-color, 5),
$color-focus: $secondary-dark-color,
$color-pressed: $secondary-dark-color,
$color-focus-over: $secondary-dark-color,
$color-focus-pressed: $secondary-dark-color,
$color-disabled: lighten($secondary-dark-color, 10%),
$inner-border-color: transparent,
$inner-border-color-over: transparent,
$inner-border-color-focus: transparent,
$inner-border-color-pressed: transparent,
$inner-border-color-focus-over: transparent,
$inner-border-color-focus-pressed: transparent,
$inner-border-color-disabled: transparent,
$padding: 0 8
);

@include extjs-button-small-ui(
$ui: 'transparent-action-blue',
$border-color: transparent,
$border-color-over: transparent,
$border-color-focus: transparent,
$border-color-pressed: transparent,
$border-color-focus-over: transparent,
$border-color-focus-pressed: transparent,
$border-color-disabled: transparent,
$background-color: transparent,
$background-color-over: transparent,
$background-color-focus: transparent,
$background-color-pressed: transparent,
$background-color-focus-over: transparent,
$background-color-focus-pressed: transparent,
$background-color-disabled: transparent,
$background-gradient-over: 'none',
$color: $blue,
$color-over: darken($blue, 5),
$color-focus: $blue,
$color-pressed: $blue,
$color-focus-over: $blue,
$color-focus-pressed: $blue,
$color-disabled: lighten($blue, 10%),
$inner-border-color: transparent,
$inner-border-color-over: transparent,
$inner-border-color-focus: transparent,
$inner-border-color-pressed: transparent,
$inner-border-color-focus-over: transparent,
$inner-border-color-focus-pressed: transparent,
$inner-border-color-disabled: transparent,
$padding: 0 8
);

@include extjs-button-medium-ui(
$ui: 'transparent',
$border-color: transparent,
$border-color-over: transparent,
$border-color-focus: transparent,
$border-color-pressed: transparent,
$border-color-focus-over: transparent,
$border-color-focus-pressed: transparent,
$border-color-disabled: transparent,
$background-color: transparent,
$background-color-over: transparent,
$background-color-focus: transparent,
$background-color-pressed: transparent,
$background-color-focus-over: transparent,
$background-color-focus-pressed: transparent,
$background-color-disabled: transparent,
$background-gradient-over: 'none',
$color: $color,
$color-over: darken($color, 10),
$color-focus: $color,
$color-pressed: $color,
$color-focus-over: $color,
$color-focus-pressed: $color,
$color-disabled: lighten($color, 10%),
$inner-border-color: transparent,
$inner-border-color-over: transparent,
$inner-border-color-focus: transparent,
$inner-border-color-pressed: transparent,
$inner-border-color-focus-over: transparent,
$inner-border-color-focus-pressed: transparent,
$inner-border-color-disabled: transparent
);
@include extjs-button-medium-ui(
$ui: 'transparent-action',
$border-color: transparent,
$border-color-over: transparent,
$border-color-focus: transparent,
$border-color-pressed: transparent,
$border-color-focus-over: transparent,
$border-color-focus-pressed: transparent,
$border-color-disabled: transparent,
$background-color: transparent,
$background-color-over: transparent,
$background-color-focus: transparent,
$background-color-pressed: transparent,
$background-color-focus-over: transparent,
$background-color-focus-pressed: transparent,
$background-color-disabled: transparent,
$background-gradient-over: 'none',
$color: $secondary-dark-color,
$color-over: darken($secondary-dark-color, 5),
$color-focus: $secondary-dark-color,
$color-pressed: $secondary-dark-color,
$color-focus-over: $secondary-dark-color,
$color-focus-pressed: $secondary-dark-color,
$color-disabled: lighten($secondary-dark-color, 10%),
$inner-border-color: transparent,
$inner-border-color-over: transparent,
$inner-border-color-focus: transparent,
$inner-border-color-pressed: transparent,
$inner-border-color-focus-over: transparent,
$inner-border-color-focus-pressed: transparent,
$inner-border-color-disabled: transparent,
$padding: 0 8
);

@include extjs-button-medium-ui(
$ui: 'transparent-action-blue',
$border-color: transparent,
$border-color-over: transparent,
$border-color-focus: transparent,
$border-color-pressed: transparent,
$border-color-focus-over: transparent,
$border-color-focus-pressed: transparent,
$border-color-disabled: transparent,
$background-color: transparent,
$background-color-over: transparent,
$background-color-focus: transparent,
$background-color-pressed: transparent,
$background-color-focus-over: transparent,
$background-color-focus-pressed: transparent,
$background-color-disabled: transparent,
$background-gradient-over: 'none',
$color: $blue,
$color-over: darken($blue, 5),
$color-focus: $blue,
$color-pressed: $blue,
$color-focus-over: $blue,
$color-focus-pressed: $blue,
$color-disabled: lighten($blue, 10%),
$inner-border-color: transparent,
$inner-border-color-over: transparent,
$inner-border-color-focus: transparent,
$inner-border-color-pressed: transparent,
$inner-border-color-focus-over: transparent,
$inner-border-color-focus-pressed: transparent,
$inner-border-color-disabled: transparent,
$padding: 0 8
);
@include extjs-button-toolbar-small-ui(
$ui: 'primary',
$background-color: $primary-color
);
@include extjs-button-toolbar-medium-ui(
$ui: 'primary',
$background-color: $primary-color
);
@include extjs-button-small-ui(
$ui: 'primary',
$background-color: $primary-color
);
@include extjs-button-medium-ui(
$ui: 'primary',
$background-color: $primary-color
);
@include extjs-button-toolbar-small-ui(
        $ui: 'secondary',
        $background-color: $secondary-color,
        $border-color: $secondary-color
);
@include extjs-button-toolbar-medium-ui(
        $ui: 'secondary',
        $background-color: $secondary-color,
        $border-color: $secondary-color
);
@include extjs-button-small-ui(
        $ui: 'secondary',
        $background-color: $secondary-color,
        $border-color: $secondary-color
);
@include extjs-button-medium-ui(
        $ui: 'secondary',
        $background-color: $secondary-color,
        $border-color: $secondary-color
);
@include extjs-button-medium-ui(
$ui: 'bg',
$background-color: $bg-color,
$border-color:$black-4-color,
$color:$black-1-color
);
@include extjs-button-small-ui(
        $ui: 'bg',
        $background-color: $bg-color,
        $border-color:$black-4-color,
        $color:$black-1-color
);

.x-btn {
  @include transition(box-shadow .3s);
}

.x-btn-over.depth-1.depth-init {
  @extend .depth-2;
}
.x-btn-over.depth-on-hover{
  @extend .depth-1;
}

.x-btn-disabled {
  opacity: 0.3;
}
.x-btn.x-btn-light-small,.x-btn-white-small,.x-btn-default-small,.x-btn-default-toolbar-small,.x-btn-transparent-small,.x-btn-transparent-action-small,.x-btn-transparent-action-blue-small{
    .x-btn-icon-el{
        font-size:18px;
        line-height:17px;
    }
}
.x-btn.x-btn-default-small,.x-btn.x-btn-default-medium{
    .x-btn-icon-el{
        color:#fff;
    }
}
.x-btn.x-btn-default-medium,.x-btn-default-toolbar-medium,.x-btn-transparent-medium,.x-btn-transparent-action-medium,.x-btn-transparent-action-blue-medium{
    .x-btn-icon-el{
        font-size:22px;
        line-height:21px;
    }
}

