.x-form-text-default{
  line-height:16px;
}
.vv-icon-trigger-medium {
  font-size:22px !important;
  line-height:22px !important;
  background-color:$white-1-color;
  color:$black-2-color;
  cursor: pointer;
  vertical-align:middle;
}