.x-view-item-focused{
  outline:none!important;
}

.msg .x-box-mc {
  font-size: 14px;
}

.x-grid-cell-inner {
  padding : 6px !important;
}
#msg-div {
  left: 50%;
  margin-left:-150px;
  position: absolute;
  top: 10px;
  width: 300px;
  z-index:55000;
}
#msg-div .msg {
  background-color:#FCFCFC;
  border: 2px solid #0D92F4;
  color: #999;
  margin-top: 2px;
  padding: 10px 15px;
  box-shadow:0 0 10px #aaa;
  opacity:0;
}
#msg-div .msg h3 {
  font-size: 15px;
  font-weight: bold;
  margin: 0 0 8px;
  color:#777;
}
#msg-div .msg p {
  margin: 0;
}

.x-window-body-smeg {
  background: $white-1-color !important;
}

.x-window-header-title-dialog {
  color : black !important;
}

@include extjs-window-ui (
  $ui : 'smeg',
  $ui-header-background-color : #555,
  $ui-header-glyph-color : $white-1-color
);
.x-window-header-smeg{
  .x-tool-img{
    color : #fff;
  }
}

@include extjs-button-toolbar-medium-ui(
$ui: 'non-primary',
$background-color: #f6f6f6
);

@include extjs-button-medium-ui(
$ui: 'transparent-other',
$border-color: transparent,
$border-color-over: transparent,
$border-color-focus: transparent,
$border-color-pressed: transparent,
$border-color-focus-over: transparent,
$border-color-focus-pressed: transparent,
$border-color-disabled: transparent,
$background-color: transparent,
$background-color-over: transparent,
$background-color-focus: transparent,
$background-color-pressed: transparent,
$background-color-focus-over: transparent,
$background-color-focus-pressed: transparent,
$background-color-disabled: transparent,
$background-gradient-over: 'none',
$color: $black-2-color,
$color-over: darken($black-2-color, 10),
$color-focus: $black-2-color,
$color-pressed: $black-2-color,
$color-focus-over: $black-2-color,
$color-focus-pressed: $black-2-color,
$color-disabled: lighten($black-2-color, 10%),
$inner-border-color: transparent,
$inner-border-color-over: transparent,
$inner-border-color-focus: transparent,
$inner-border-color-pressed: transparent,
$inner-border-color-focus-over: transparent,
$inner-border-color-focus-pressed: transparent,
$inner-border-color-disabled: transparent
);