$panel-frame-border-color:$black-4-color;
$panel-frame-border-radius:2px;
$panel-frame-border-width:1px;
$panel-header-background-color:#fff;
$panel-header-color:$black-1-color;
$panel-header-font-size:20px;
$panel-header-line-height:24px;
$panel-header-padding:16px;
