//Override scss variables
// Good place for colors is Google Material Design "https://material.io/guidelines/style/color.html#color-color-palette"
// Example below
//
$window-header-background-color: #fafafa;
$smeg-red: #B20000;
$black-12-color:rgba(0, 0, 0, 0.7);
$primary-dark-color:#333333;
//$form-toolbar-trigger-glyph-color:$primary-dark-color;
//$form-field-focus-border-color:$bg-color-7;

//Example overriding the font size and form field height
//
//$font-size:12px;
//$form-field-height:24px;
//$form-text-field-padding:2px 7px;