$grid-body-border-width:1px;
$grid-row-cell-focus-border-width:0;
$grid-cell-inner-padding:dynamic(12px 12px 12px 6px);
$grid-row-cell-color:$black-1-color;
$grid-row-cell-font-size:13px;
$grid-row-cell-font-weight:400;
$grid-row-cell-over-background-color:#eef6ff;
$grid-row-cell-selected-background-color:#F5F5F5;