$panel-header-background-color: #eee;
$panel-header-color: black;
$panel-header-font: Helvetica, Arial, Geneva, sans-serif;
$panel-header-font-weight: 500;
$panel-header-font-size: 13px;
$panel-border-style: solid 1px #999;
