.headerText {
  padding-top:20px;
  padding-bottom: 20px;
  font: 22px Tahoma, Helvetica, Arial, Sans-Serif;
  text-align: center;
  color: #666666;
  display:-webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align:center;
  -webkit-box-pack:center;
}