.vv-readonly{
  .x-form-trigger-wrap{
    border-bottom:1px solid $form-toolbar-text-field-border-color;
  }
}
.vv-readonly.x-form-item-default.x-item-disabled{
  opacity: 1;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 0.7;
}
::-moz-placeholder { /* Firefox 19+ */
  opacity: 0.7;
}
:-ms-input-placeholder { /* IE 10+ */
  opacity: 0.7;
}
:-moz-placeholder { /* Firefox 18- */
  opacity: 0.7;
}